@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mojangles';
  src: url('/fonts/Mojangles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-primary;
  @apply font-source-sans;
}